* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    

    --clr-blue900: #00266e;
    --clr-blue800: #043784;
    --clr-blue700: #114190;
    --clr-blue600: #1e4a9c;
    --clr-blue500: #2552a5;
    --clr-blue400: #4c6bb1;
    --clr-blue300: #6e85be;
    --clr-blue200: #97a7d1;
    --clr-blue100: #c0cae3;
    --clr-blue50: #e6eaf4;

    --clr-orange600: #fb8600;
    --clr-orange500: #ff9200;
    --clr-orange400: #ffa224;
    --clr-orange300: #ffb34b;
    --clr-orange200: #ffc97e;
    --clr-orange100: #ffdeb1;
    --clr-orange50: #fff2df;

    --clr-green500: #169573;
    --clr-green400: #30a586;
    --clr-green300: #52b59a;
    --clr-green200: #82cbb6;
    --clr-green100: #b3dfd2;
    --clr-green50: #e0f2ed;


    --transition-speed: 600ms;
}

/* Global */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fbfdf2;
    background-color: #fafeff;
    height: 100vh;
    line-height: 1.5;
    max-width: 100%;
    overflow-x: hidden;

}

button {
    cursor: pointer;
    border: none;
    outline: none;
    font-family: inherit;
    padding: 0.5em 1em;
    border-radius: 150px;
}

a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
    display: block;
}

/* Nav */

.primary-nav {
    background-color: var(--clr-blue900);
    position: fixed;
}

/*.nav__logo {
    display: none;
}*/


.nav__list {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    list-style: none;
}

.nav__link {
    display: flex;
    align-items: center;
    height: 6rem;
}

.nav__link .fa-solid {
      min-width: 2rem;
      margin: 0 1.5rem;
      font-size: 1.625rem;
}

.link__txt {
    display: none;
}


/* Main */

main {
    padding-inline: 2em;
}

h1 {
    font-size: 4rem;
    color: var(--clr-orange500);
}


.nav__item, .nav__logo { 
    width: 100%;
}


/* Dropdown */
.nav__item:hover, .nav__logo:hover {
    background-color: var(--clr-blue800);
}

.dropdown-container {
    display: none;
}


/* Responsive LARGER screens */

@media only screen and (min-width: 625px) {

    .primary-nav {
        top: 0;
        left: 0;
        height: 100vh;
        width: 5rem;
        transition: width var(--transition-speed) ease-in;
    }

    .nav__list {
        flex-direction: column;
        align-items: flex-start; /* icons will remain in place while sidebar expands */
    }
    

       /* side navbar logo animation */
   .nav__logo i {
    transition: var(--transition-speed);
}

.primary-nav:hover .nav__logo i {
    transform: rotate(-180deg);
   }

     /* expand sidebar && display links, logo */

    .primary-nav:hover {
        width: 18rem;

        .link__txt {
            font-size: 1.425rem;
            display: flex;
            justify-content: center;
        }
    }

      /*push theme switcher to bottom of screen*/
    .nav__item:last-child {
        margin-top: auto;
    }

    /* dropdowns */
    .dropdown-container {
    width: 100%;
    position: absolute;
    background-color: var(--clr-blue800); /* Adjust as needed */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-container a {
    font-size: 1.325rem;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
}


.dropdown-container a:hover {
    background-color: white;
    color: var(--clr-blue800);
}

    /* responsive main styles */

    main {
        margin-left: 6rem;
    }

   .mobile__nav_item {
    display: none;
   }

   /*no "Home" link on large screens */

.hide-large {
    display: none;
}
    
}




/* Responsive SMALLER screens */

@media only screen and (max-width: 325px) {
    .primary-nav {
        bottom: 0;
        width: 100vw;
    }

    .nav__link {
        justify-content: center;
    }

    .hide-small {
        display: none;
    }

    .nav__item:last-child {
        display: none;
    }
}
